.outline{
  color: blue;
  text-shadow:
               -1px -1px 0 white,
                1px -1px 0 white,
               -1px 1px 0 white,
                1px 1px 0 white;
}
.outline2{
  color: blue;
  text-shadow:
               -1px -1px 0 white,
                1px -1px 0 white,
               -1px 1px 0 white,
                1px 1px 0 white;
}
.outline3{
  color: blue;
  text-shadow:
               -1px -1px 0 white,
                1px -1px 0 white,
               -1px 1px 0 white,
                1px 1px 0 white;
}
.outline4{
  color: blue;
  text-shadow:
               -1px -1px 0 white,
                1px -1px 0 white,
               -1px 1px 0 white,
                1px 1px 0 white;
}
.outline5{
  color: blue;
  text-shadow:
               -1px -1px 0 white,
                1px -1px 0 white,
               -1px 1px 0 white,
                1px 1px 0 white;
}
.outline6{
  color: blue;
  text-shadow:
               -1px -1px 0 white,
                1px -1px 0 white,
               -1px 1px 0 white,
                1px 1px 0 white;
}
.outline7{
  color: blue;
  text-shadow:
               -1px -1px 0 white,
                1px -1px 0 white,
               -1px 1px 0 white,
                1px 1px 0 white;
}